* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(49,133,252);
    background: radial-gradient(circle, rgba(49,133,252,1) 0%, rgba(255,255,255,1) 35%, rgba(49,133,252,1) 100%);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

header {
    flex: 0 0 100px;
    padding: 5px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49,133,252);
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h1, nav a, nav a:link, nav a:active, nav a:visited, nav a:hover {
    color: #fff;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
    margin: 0 10px 10px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.image-container a { 
    display: block;
}

.image-container img {
    max-height: 200px;
    width: auto;
}